{
    "auth": {
        "identity": {
            "methods": [
                "password"
            ],
            "password": {
                "user": {
                    "id": "<USER_ID>",
                    "password": "mypassword"
                }
            },
            "scope": {
                "project": {
                    "id": "<PROJECT_ID>"
                }
            }
        }
    }
}
